name: Docker Image CI

on:
  push:
    tags: [ v* ]
    
env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    
    - name: Docker Setup QEMU
      uses: docker/setup-qemu-action@v3.7.0
      
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3.12.0
      
    - name: Docker Login
      uses: docker/login-action@v3.6.0
      with:
        username: ${{secrets.DOCKER_USER}}
        password: ${{secrets.DOCKER_PASSWORD}}
    
    - name: Docker Metadata action
      id: meta
      uses: docker/metadata-action@v5.10.0
      with:
        images: ${{ env.IMAGE_NAME }}
    
    - name: Build and push Docker images
      id: docker_build
      uses: docker/build-push-action@v6.18.0
      with:
        builder: ${{ steps.buildx.outputs.name }}
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}